*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    color: #ffffff;
    
    background: #000000;
    background-color: #000000;
    background-image: url(img/img-body.jpg);
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;

    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a
{
    color: #ffffff;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.container-main
{
    width: 60%;
    margin: auto;
}

/*Header*/
.header-main a img
{
    width: 100%;
    height: 400px;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*Navigation*/
.nav-menu
{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background: #34495e;
    margin-top: 0px;
}

.nav-menu ul
{
    display: flex;
}

.nav-menu ul li
{
    padding: 10px;
}

.plus
{
    font-weight: bolder;
}

.nav-menu ul li a
{
    padding: 2px;
}

.nav-menu ul li a:hover
{
    border-bottom: #ffffff solid 1px;
}

.nav-menu ul.nav-main-bar
{
    flex: 1;
    margin-left: 20px;
}

.menu-btn
{
    margin-right: 10px;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

/*Showcase*/
